**.orig
*.rbc
*.sassc
.rspec
.ruby-gemset
.ruby-version
.rvmrc
.sass-cache?
/.bundle
/coverage/
/db/*.sqlite3
/log/*
/public/system/*
/spec/dummy/.sass-cache
/spec/dummy/db/*.sqlite3
/spec/dummy/log/*.log
/spec/dummy/public/system/
/spec/dummy/tmp/
/spec/tmp/*
/tmp/*
/vendor/bundle
Gemfile.lock
capybara-*.html
pickle-email-*.html
pkg/
rerun.txt
