<!DOCTYPE html>
<html>
<head>
  <title>ImportableAttachments</title>
  <%= stylesheet_link_tag    "importable_attachments/application", :media => "all" %>
  <%= javascript_include_tag "importable_attachments/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
